name: CI
on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  emscripten_wasm:

    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        emsdk: ["3.1.73", "4.0.3"]
    steps:
      - uses: actions/checkout@v4
      - uses: docker-practice/actions-setup-docker@master
      - run: |
          chmod +x test/test_emscripten.sh
          ./test/test_emscripten.sh BUILD ${{ matrix.emsdk }}
